<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, min: 0 %>
  </div>

  <div class="field">
    <%= f.label :cuteness %>
    <%= f.number_field :cuteness, min: 0, max: 10 %>
  </div>

   <div class="field">
    <%= f.label :softness %>
    <%= f.number_field :softness, min: 0, max: 10 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>