<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.integer_field :age %>
  </div>

  <div class="field">
    <%= f.label :cuteness %>
    <%= f.integer_field :cuteness %>
  </div>

   <div class="field">
    <%= f.label :softness %>
    <%= f.integer_field :softness %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>