<h1>Have a look at <% @kitten.name %>:</h1>

<div class="kitten_container">
    <p class="name">Name: <%= @kitten.name %></p>
    <p class="age">Age: <%= @kitten.age %></p>
    <p class="cuteness">Cuteness: <%= @kitten.cuteness %></p>
    <p class="softness">Softness: <%= @kitten.softness %></p>
</div>

<%= button_to 'Delete Kitten', @event, 
        method: :delete, 
        data: { confirm: 'Are you sure?' }, 
        class: 'btn btn-danger' %>